<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- if .IsHome -}}
     <meta name="description" content="{{ site.Params.Description }}" />
    {{- else -}}
     <meta name="description" content="{{ .Params.Description }}" />
     <meta name="author" content="{{ .Params.Author }}" />
     <meta name="categories" content="{{ .Params.Categories }}" />
    {{ with .Keywords }}
      <meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
    {{ end }}
    {{ end }}
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/google_analytics.html" . }}
  </head>
  
  <body>
    <div class="wrapper">
      <header class="header">
        {{ partial "nav.html" . }}
      </header>
