@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');

body {
    font-family: 'Noto Serif SC',Palatino,'palatino linotype','palatino lt std','latin modern roman','source han serif sc','noto serif cjk sc','songti sc','microsoft yahei',serif
}

.home blockquote,.cn blockquote,.kai,.cn em,.hash-note {
    font-family: palatino linotype,book antiqua,Palatino,stkaiti,kaiti,楷体,simkai,dfkai-sb,nsimsun,serif
}

code {
    font-family: Consolas,Courier,courier new,stkaiti,kaiti,simkai,monospace
}

pre,code {
    font-size: .95em
}